html {
  box-sizing: border-box;
  background-color: rgb(163, 163, 163);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
background-color:#aee9ff97;  
font-family: "Rubik", sans-serif;
}

main{
  background-color:#ffffff
  width: 80vw;
  text-align: center;
  margin: 2rem auto;
  border: 5px solid #ffffff;
  border-radius: 15px;
  padding: 1rem;
}