/* Reset & Base Styles */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

/* Body Styles */
body {
  background-image: url('../img/4021036.jpg');
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Header */
header {
  background-color: #d2c6ba;
  grid-area: header;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 75px;
  transition: 0.3s ease;

}

header:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  transition:  0.3s ease;
  
}

/* Headings */
body h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #9900ff;
  text-shadow: 2px 2px 4px #000000;
}

body h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  color: #9900ff;
  text-shadow: 2px 2px 4px #000000;
}

/* Lists */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Main content grid */
#link {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-area: content;
  justify-items: center;
  align-items: start;
  overflow: hidden; /* Prevent scale overflow */
}

/* List Items */
#link li {
  border: 2px solid #9900ff;
  border-radius: 50px;
  background: #ce84ff;
  padding: 20px;
  width: 30rem;
  text-align: center;
  transition: transform 0.3s ease;
}

#link li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

#link li:hover {
  border: 2px solid #ce84ff;
  background: #9900ff;
  color: #fff;
  transform: scale(1.1);
}

/* Footer */
footer {
  position: relative;
  grid-area: footer;
  padding: 100px 20px 20px;
  text-align: center;
  color: #333;
  transition: font-size 0.3s ease;
}

footer:hover {
  font-size: 1.1rem;
  transition: font-size 0.3s ease;
}


/* Responsive Layout */
@media screen and (max-width: 768px) {
  #link {
    grid-template-columns: 1fr;
  }
}

/* Futura Font Face */
@font-face {
  font-family: 'Futura';
  src: url('path/to/Futura-Bold.woff2') format('woff2'),
       url('path/to/Futura-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Optional class to apply Futura Bold manually */
.my-bold-text {
  font-family: 'Futura', sans-serif;
  font-weight: 700;
}
